body {
  background-image: url(../img/clouds.jpg);
  /* background-color: #3b065e; */
  background-position: center;
  background-size: cover;
  font-family: Arial, CenturyGothic, sans-serif;
  font-size: 18px;
  
  /* margin: 0; */
  height: 100vh;
 

  /* this chunk of 3 lines can fix the login page but screws with page 2 and 3   */
  /* display: flex;
  align-items: center;
  justify-content: center;  */

  
  /* height:vh; */
  /* flexbox stuff */
  /* display: flex;
  align-items: center;
  justify-items: center; */
}
/* flexbox stuff login page */
.login_body_flexbox {
  /* width: 400px;
  max-width: 400px; */

  /* margin: 1rem;
  padding: 2rem; */

  width: 100%;
  max-width: 700px;
  margin:auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 50vh;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  /* justify-items: center;  */
  /* justify-content: center; */
  /* trying out and maybe doesnt work */
  /*
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0.2);
  border-radius: var(4px);
  background: #ffffff;
  */
  /* margin: 0; */
  /* height: 50vh; */

  
  /* its about the borders basically */
  /* margin: 1rem;
  padding: 2rem; */
  
  box-shadow: 0 0 40px rgba(0, 0, 0.2);
  border-radius: var(4px);
  background: #ffffff;
}

section {
  /* display: flex;
  align-items: center;
  justify-content: center; */


  /* height: 100vh; */
  /* width: 400px;
  max-width: 400px; 

  margin: 1rem;
  padding: 2rem; */
}


header {
  background-color: #1F2937;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  /*
  overflow: hidden;
  width: 100%;
  margin: 0 auto 0 auto;
  */
  
  

}

input, label {
  display:block;
}

.forgot_password {
  padding-top: 15px;
  color: blue;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 600px;
}

section {
  float:left;
  width: 70%;
}

aside {
  float: right;
  width: 25%;
}

footer {
  clear: both;
  background-color: #7286A0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.pageone {
  /*
  text-align: center;
  */
  padding-top: 200px;
  padding-right: 370px;
  padding-bottom: 5px;
}

.pagetwo {
  /*
  text-align: center;
  */
  padding-top: 10px;
  /* padding-left: 370px; */
  /* padding-left: 10px;
  padding-bottom: 5px; */
}

/* .login {

  text-align: center;
  padding-top: 100px;
  padding-left: 5px;
  padding-bottom: 5px;
}
*/

.pageone .login {
  color: yellow;
  /* padding-left: 270px; */
}


.pagetwo .login_link {
  /* padding-right: 270px; */
  /* background-color: red; */
}

.pagetwo .pagetwo_link {
  padding-left: 270px;
  /* background-color: yellow; */
}


/* chaining page2 link with different color than other links */
.pageone a:link {
  color: black;
}

/* chaining page2 link with different color than other links */
/* .pagetwo a:link {
  color: black;
} */

/* chaining page2 link with different color than other links */
/* .pagetwo a:visited {
  color: black;
} */

/* chaining page2 link with different color than other links */
.pageone a:visited {
  color: black;
}

a:link {
  /* color: #fff; */
  color:blue;
  /* padding-right: 20px; */
}

a:visited {
  color: purple;
}


/*
a:hover {
  background-color: purple;
}
*/

/*
.container2 {
  clear: both;
  /*
  background-color: yellow;
  */
  /*
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #1F2937;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

*/

.container2 {
  clear: both;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
}

.container2Items {
  position: relative;
  color: white;
  width: 27em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.5vw;
}

.page2_aside {
  padding-right: 100px;
}